<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
  </head>

  <body>
    <fieldset>
        <legend>Pesquisar pessoa</legend>
        <form method="POST" action="/pesquisar">
            Nome: <input type="text" name="nome"><br>
            <input type="submit" value="Enviar" name="">
        </form>
    </fieldset>

    <fieldset>
        <legend>Cadastrar pessoa</legend>
        <form action="/cadastrar" method="POST" id="frm-cadastro">
        	Nome: <input type="text" name="nome"><p>
            Sobrenome: <input type="text" name="sobrenome"><p>
            CPF: <input type="text" name="cpf"><p>
        	<input type="submit" value="Enviar" name="">
        </form>
    </fieldset>

    <fieldset>
        <legend>Pessoas</legend>
        <table>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>CPF</td>
                <td></td>
                <td></td>
            </tr>

        	<% for(var i = 0; i < pessoas.length; i++) {%>
            <tr>
            	<td><%= pessoas[i].nome %></td>
                <td><%= pessoas[i].sobrenome %></td>
                <td><%= pessoas[i].cpf %></td>
                <td><a href="#" onclick="excluirDados('<%= pessoas[i].cpf%>')">excluir</a></td>
                <td><a href="/alterar?cpf=<%= pessoas[i].cpf%>">alterar</a></td>
            	<% } %>
            </tr>
        </table>
    </fieldset>

    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/dynamic.js"></script>
  </body>
</html>
