<!DOCTYPE html>
<html lang="pt">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main class="container">

            <!-- BOTÃO DE PESQUISA -->
            <div class="row">
                <div class="input-field">
                    <input id="search" type="search" required placeholder="Pesquise por Cidade" list="cities-list">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>

                    <datalist id="cities-list">
                        <% cities.forEach(function(city) { %>
                        <option value="<%= city.name %>"></option>
                        <% }); %>
                    </datalist>
                </div>
            </div>

            <% if ( typeof msg != 'undefined' ) { %>
                <div class="chip <%= color %> right">
                    <%= msg %>
                    <i class="close material-icons">close</i>
                </div>
            <% } %>


            <% if (typeof success != 'undefined' && !success) { %>
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/logo.png">
                        </div>
                        <div class="card-content">
                            <p class="center">
                                Perdão! Não conseguimos encontrar esta cidade.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="/">Todas As Cidades</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>


            <% if (typeof cities != 'undefined') { %>

                <!-- Cards -->
                <% if (typeof dataLocale != 'undefined') { %>
                    <div class="row" id="show">

                        <% dataLocale.forEach(function(days) { %>
                            <div class="row">
                                <h5>Previsão para <%= days.locale.name %> - <%= days.locale.state %></h5>
                            </div>

                            <div class="row">
                            <% days.weather.forEach(function(day) { %>
                                <div class="col s12 m6">

                                    <div class="card">
                                        <div class="card-content">
                                            <p class="text-lighten-1">
                                                <%= moment(day.date).format('DD/MM/YYYY') %>
                                            </p>
                                            <p>
                                                <%= day.text %>
                                            </p>
                                        </div>

                                        <div class="card-content grey lighten-5">

                                            <div class="row center">
                                                <div class="col s6 m6">
                                                    <h4 class="max"><i class="fa fa-long-arrow-up"></i> <%= day.temperature.max %>ºC</h4>
                                                </div>
                                                <div class="col s6 m6">
                                                    <h4 class="min"><i class="fa fa-long-arrow-down"></i> <%= day.temperature.min %>ºC</h4>
                                                </div>
                                            </div>

                                            <div class="row center">
                                                <div class="col s6 m6">
                                                    <h4><i class="fa fa-cloud"></i> <%= day.rain.probability %>mm</h4>
                                                </div>
                                                <div class="col s6 m6">
                                                    <h4><i class="fa fa-umbrella"></i> <%= day.rain.precipitation %>%</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                            </div>
                        <% }); %>
                    </div>
                <% } %>
            <% } %>

        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>

    <script src="/dist/js/index.js"></script>
</html>